<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content>
  <form method="POST" action="/.../" (sumbit)="checkForm($event.target)">
    <ion-item>
      <ion-label>Usuario:</ion-label>
      <ion-input type="text" name="username"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Contraseña:</ion-label>
    <ion-input  type="password" name="pwd1" ></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Confirmar Contraseña:</ion-label>
      
    <ion-input  type="password" name="pwd2" ></ion-input>
    </ion-item>

    <ion-button type="submit" >Verificar</ion-button>
    </form>
</ion-content>

